@model CustomerTotalSalesModel

@{
    ViewData["Title"] = $"Total Sales";
}

<h2>@ViewData["Title"]</h2>

@{ 
    var totalCars = Model.BoughtCars.Count();
}
<p><strong>Customer:</strong> @Model.Name</p>

<p>
    <strong>Bought:</strong> @totalCars @(totalCars != 1 ? "Cars" : "Car")
</p>

<p>
    <strong>Total money spend:</strong> @Model.TotalMoneySpent.ToString("F2")
</p>

